.social-share-cheevt {
  display: flex;    
  padding: 5px; 
}
.social-share-cheevt--floating {
  position: fixed;
  width: auto !important;
  left: -10px;
  top: 40vh;  
  flex-direction: column;
  padding: 5px 5px 5px 10px;
  background: rgba(0, 0, 0, .3);
  border-radius: 10px;
}
.social-share-cheevt--featured-image {
  position: absolute;
  bottom: 0;
  margin: 5px; 
  background: rgba(0, 0, 0, .3);
  border-radius: 10px;
}
.social-share-cheevt__network {
  padding: 5px;
}